
*{
    font-family: 'Kaushan Script', cursive;
}

body {
background-color: #cc5577;
/*image overlay*/

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment:fixed ;
background-size: cover;
text-align: center;
display:grid;
grid-template-columns: repeat(16, 102px);
grid-template-rows: repeat(10, 100px);
overflow: hidden;
position:relative;
letter-spacing: 3px;
}
body::after{
    position:absolute;
    color:black;
}

.overlay{

}

.title {
    grid-row-start: 1 ;
    grid-column: 3 / 12;
    margin-top:55px;
    z-index:2;
    font-size: 48px;
    letter-spacing: 6px;
    color:rgba(0, 0, 0, 0.795);
    text-shadow: 2px 2px 3px rgba(182, 172, 30, 0.5);
    line-height: 70px;

}

.magic {
    grid-row: 1;
    margin-top:70px;
    text-shadow: 2px 2px 3px rgba(182, 172, 30, 0.5);
    color:rgba(0, 0, 0, 0.712);
    grid-column: 4;
    z-index: 6;
}

.screen {
    grid-row: 1;
    margin-top:70px;
    text-shadow: 2px 2px 3px rgba(182, 172, 30, 0.5);
    color:rgba(0, 0, 0, 0.623);
    grid-column: 10;
    z-index: 6;
}

.container {
    border: 80px solid #a32727f3;
    background-color: rgba(211, 210, 210, 0.753);
    height:518px;
    width:900px;
    margin:auto;
    margin-top:50px;
    display:grid;
    grid-row: 1;
    grid-column: 2; 
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    border-radius:90px;
    box-shadow: 5px 5px 15px 5px #000000;
    z-index:1;
    justify-content: center;
    overflow:hidden;

    box-shadow: inset 0 0 10px #000000;

}

.gridselect {
    width:150px;
    height:50px;
    font-size:24px;
    border:none;
    background-color: #f05151;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px 0px;
    grid-row: 7;
    margin-top: 60px;
    z-index: 50;
    grid-column: 4;
    cursor: pointer;
    transition: 0.2s all;
}
.gridselect:hover{
    transform:scale(.95);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}
.gridselect:active {
    transform:scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.clearbtn {
    width:100px;
    height:50px;
    font-size:24px;
    border:none;
    background-color: #F05151;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px 0px;
    grid-row: 7;
    z-index: 50;
    margin-top: 60px;
    grid-column: 6;
    cursor: pointer;
    transition: 0.2s all;
}
.clearbtn:hover{
    transform:scale(.95);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}
.clearbtn:active {
    transform:scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.colorbtn {
    width:200px;
    background-color: white;
    height:50px;
    background-color: #F05151;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px 0px;
    cursor: pointer;
    transition: 0.2s all;
    border-radius:10px;
    font-size:24px;
    grid-column: 7;
    margin-left: 50px;
    grid-row: 7;
    margin-top: 60px;
    z-index: 6;
    line-height: 50px;
}
.colorbtn:hover{
    transform:scale(.95);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}
.colorbtn:active {
    transform:scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.erasebtn {
    width:100px;
    background-color: white;
    height:50px;
    background-color: #F05151;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 4px 0px;
    cursor: pointer;
    border-radius:10px;
    font-size:24px;
    grid-column: 9;
    margin-left: 90px;
    grid-row: 7;
    margin-top: 60px;
    z-index: 6;
    transition: 0.2s all;
    line-height: 50px;
}
.erasebtn:hover{
    transform:scale(.95);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;

}
.erasebtn:active {
    transform:scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

.scrollOne {
    background-color: white;
    width: 100px;
    border-radius:50%;
    z-index: 50;
    grid-row: 7;
    grid-column: 2;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 3px dotted black;
    transition: 0.2s all;
}
.scrollOne:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
    transform:scale(0.98);
}



.scrollTwo {
    color:white;
    background-color: white;
    width: 100px;
    border-radius:50%;
    border: 3px dotted black;
    z-index:50;
    grid-row:7;
    grid-column: 11;
    margin-left:35px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: 0.2s all;
}
.scrollTwo:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
    transform:scale(0.98);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.row {
    background-color: white;
    border:1px solid rgba(128, 128, 128, 0.082)
}
.row:hover {
    background-color:pink;
    border:black 1px solid;
}

.hover {
    width:60px;
    background-color:pink;
    height:31px;
}

 .error {
    font-size:64px;
    
} 




@media only screen
and (min-width : 1424px) {
.container{
    grid-column: 4;
    margin-right:30px;
}
.magic {
    grid-column: 6;
}
.screen {
    grid-column: 12;
}
.title{
    grid-column: 7/12;
}
.gridselect{
    grid-column: 6;
}
.clearbtn{
    grid-column: 8;
}
.scrollOne{
    grid-column: 4;
}
.scrollTwo{
    grid-column: 13;
}
.colorbtn {
    grid-column: 9;
} 
.erasebtn {
    grid-column: 11;
}}

@media only screen
and (min-width:1815px){
    .container{
        grid-column: 5;
        margin-right:30px;
    }
    .magic {
        grid-column: 6;
    }
    .screen {
        grid-column: 13;
    }
    .title{
        grid-column: 6/14;
        margin-left:30px;
    }
    .gridselect{
        grid-column: 7;
    }
    .clearbtn{
        grid-column: 9;
    }
    .scrollOne{
        grid-column: 5;
    }
    .scrollTwo{
        grid-column: 14;
    }
    .colorbtn {
        grid-column: 10;
    } 
    .erasebtn {
        grid-column: 12;
    }}
}
